$white: #ffffff;
$white-disabled: #ffffffde;
$black: #000000de;
$primary: #f4e041;
$primary-hover: #ffe302;
$primary-disabled: #b4b4b4;
$secondary: #00bdd3;
$gray-dark: #7e7e7e;
$gray-bg: #f8f8f8;
$gray-light: #d0cfcf;
$red: #cb3d40;
